::ng-deep {
    .custom-dialog {
        .mat-dialog-container {
            background: white;
            min-width: 345px;
        }
        .icon {
            font-size: 70px !important;
        }
    }
}