<div class="w-full overflow-x-auto custom-data-table bg-gray-500 rounded-lg shadow-lg">
  <table  class="w-full rounded" mat-table [dataSource]="dataSource" matSort>
    <ng-container *ngFor="let header of tableOptions?.thead?.headers"  [matColumnDef]="header?.key">
      <ng-container *ngIf="header?.sortable; else notSortable">
        <th mat-header-cell mat-sort-header [mat-sort-header]="header?.key" *matHeaderCellDef> {{ header?.title }} </th>
      </ng-container>
      <ng-template #notSortable>
        <th mat-header-cell *matHeaderCellDef> {{ header?.title }} </th>
      </ng-template>
      <td mat-cell *matCellDef="let element" [innerHtml]="header.hasOwnProperty('format') ? sanitize(header.format(element[header.key])) : element[header.key]"> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row [ngClass]="{'cursor-pointer hover:bg-gray-600': tableOptions?.thead?.clickable }" (click)="clickedRow(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell text-center td-empty-state" colspan="9999">
        {{ firstLoad ? 'Loading...' : 'No results found!' }}
      </td>
    </tr>
  </table>
  <div [hidden]="!(items?.length)" >
    <mat-paginator 
      [length]="dataSource.data?.length"
      [pageSizeOptions]="[10, 20,50, 100]"
      showFirstLastButtons 
      aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
</div>